.App {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #dbd7d7;
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  scroll-behavior: smooth;
  width: .6rem;
  height: .6rem
}

::-webkit-scrollbar-track {
  background: #494848;
}

::-webkit-scrollbar-thumb {
  background: #2e2b2b;
  border-radius: 2rem;
}